*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("beatiful.jpg");
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
        position: relative;
        top: 50px; 
        
        
        height: 190px;
        
        border-radius: 10px;
        
        background-repeat: no-repeat;
        
         
        
        left: 180px;
    
    background-image: url("forest-3119826_640.jpg");
    top: 100px;
    width: 1000px;

    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 20px;
    
    text-align: justify;
    
    color: rgb(255, 255, 255);
    
     
    
    }
    
    